/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.ng-view {
  margin: 0 auto;

}

body{
  background-color: #ffcbad;
}

.name {
  margin-top: 30%;
  margin: 0 auto;
}

.st0 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


/* === TEXT STUFF === */
body {
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}

p {
	text-align:justify;
	max-width:50%;
	margin:0 auto 20px;
	line-height:20px;
}