/* === ANIMATE THE SVGs === */

/*.path {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}*/

/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */

/* nav circ */

.navcircle{width:100px;height:100px;border-radius:50px;font-size:20px;color:#fff;text-align:center;background:#000;}

/* grid system */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 5%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/* more grid system */

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

.st0 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 6s ease-in-out forwards;
}


.sloww {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 100s ease-in-out forwards;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in-out forwards;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


/* === TEXT STUFF === */
html {overflow: hidden;}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  color: #061a2b;
  background-color: #ffcbad;

}

p {
  margin:0 auto 20px;
  line-height:20px;
  display: inline;
  width: 500px;
  word-wrap: break-word;
}

a {
  underline: none;
    color: #1C75BC;
}

a:visited {
  underline: none;
  color: #1C75BC;
}

a:hover {
    -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;    

}


/* footer style */

html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0 0 20px;
        color: #0e5084;

}

footer {
    position: absolute;
    height: 50%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.first {
    float:left; /* add this */
    margin: 0 auto;
}
.second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    margin: 0 auto;
    float: right;
}


.sidebar {
                position : absolute;
                top : 0;
                left : -200px;;
                transition : 100ms left;
                height: 100%;


            }
            #navigation-toggle {
                    position : absolute;
                    left : 200px;
                    background : rgba(0,0,0,0);
                    color : #1C75BC;
                    text-decoration : none;
                    padding : 20px;
            }
            .show {
                left : 0;
            }
            .navigation {
                list-style : none;
                padding : 0;
                margin : 0;
            }
            .navigation-items a {
                display : block;
                color : #1C75BC;
                background-color: #ffe5d6;
                line-height : 1.5em;
                text-decoration : none;
                padding : 20px 40px;
                width : 100px;

            }
            .navigation-items a:hover {
                    -webkit-animation:grow 1s both ease-in;
  -moz-animation:grow 1s both ease-in;
  animation:grow 1s both ease-in;  
            }


/* animations */

/* BASE STYLES
============================================================================= */

.page        { 
  bottom:0; 
  padding-top:100px;
  position:absolute;
  top:0;  
  width:100%; 
}

circle:hover{
  opacity: 0.5;
}


.bold {
  font-weight: bold;
}

.ono {
  font-size: 30px;
  display: inline;
}

.page h1  { font-size:60px; }
.page a     { margin-top:50px; }
#about      { color:#333; position:absolute; text-align: center; top:50px; width:100%; }

/* PAGES
============================================================================= */
.home  { text-align: center;}
.1   { background:#E59400; color:#a55400; }
.2  { background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.home.ng-leave         {

    -webkit-animation:slideOutRight 0.5s both ease-in;
  -moz-animation:slideOutRight 0.5s both ease-in;
  animation:slideOutRight 0.5s both ease-in;

}
.home.ng-enter     {  
    -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;    
}

/* about ------------------------ */
.one.ng-leave        {

    -webkit-animation:slideOutRight 0.5s both ease-in;
  -moz-animation:slideOutRight 0.5s both ease-in;
  animation:slideOutRight 0.5s both ease-in;
}
.one.ng-enter    {  
    -webkit-animation:slideInLeft 0.5s both ease-in;
  -moz-animation:slideInLeft 0.5s both ease-in;
  animation:slideInLeft 0.5s both ease-in; 
}

/* contact ---------------------- */
.two.ng-leave      {
    -webkit-animation:slideOutRight 0.5s both ease-in;
  -moz-animation:slideOutRight 0.5s both ease-in;
  animation:slideOutRight 0.5s both ease-in;  
}
.two.ng-enter    { 
    -webkit-animation:slideInLeft 0.5s both ease-in;
  -moz-animation:slideInLeft 0.5s both ease-in;
  animation:slideInLeft 0.5s both ease-in; 
}

/* roll the heckin coin */
.roll {
  -webkit-animation:rollCoin 10s both infinite linear;
  animation:rollCoin 10s both infinite linear; 

}

/* grow */

.grownav {
      -webkit-animation:grow 1s both ease-in;
  -moz-animation:grow 1s both ease-in;
  animation:grow 1s both ease-in;   
}

/* roll coin */
@keyframes rollCoin {
  from  { transform: rotate(0deg);}
  to    { transform: rotate(360deg); }
}

@-webkit-keyframes rollCoin {
  from  { -webkit-transform: rotate(0deg); }
  to    { -webkit-transform: rotate(0deg); }
}

/* scale circle */
@keyframes grow {
  from    { opacity: 1; transform: scale(1.1); }
}
@-moz-keyframes grow {
  from    { opacity: 1; -moz-transform: scale(1.1); }
}
@-webkit-keyframes grow {
  from    { opacity: 1; -webkit-transform: scale(1.1); }
}


/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the left */
@keyframes slideInLeft {
  from  { transform:translateX(-100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
  from  { -moz-transform:translateX(-100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
  from  { -webkit-transform:translateX(-100%); }
  to    { -webkit-transform: translateX(0); }
}

/* slide out from the right */
@keyframes slideOutRight {
  from  { transform:translateX(0); }
  to    { transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
  from  { -moz-transform:translateX(0%); }
  to    { -moz-transform: translateX(100%; }
}
@-webkit-keyframes slideOutRight {
  from  { -webkit-transform:translateX(0); }
  to    { -webkit-transform: translateX(100%); }
}